<?xml version="1.0" encoding="utf-8" ?>


<configuration>
	<appSettings> 
		<add key="LogPath" value =".\Log.txt"/>
		
	</appSettings>
	
	<connectionStrings>
		
		<add name="ConnectionString" providerName="System.Data.sqlclient" connectionString="Data Source=localhost;Initial Catalog=SurveyConfigurator;Integrated Security=True;" />

		<!--"Server=&Server;;
			Username=&Username;;
			password=&Password;;
			Initial Catalog=&Database;;" />--> 
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>